# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
.pnpm-store/
.env

# TypeScript
*.tsbuildinfo
scripts
dist/*
!dist/pacman-contribution-graph.min.js


# Logs e arquivos de saída
logs/
*.log
output.txt

# Diretórios de desenvolvimento
.vscode/
.idea/
coverage/
temp/
tmp/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Cache
.cache/
.eslintcache
.npm/

# Arquivos de build locais
pacman.svg
arena.html

# Arquivos específicos para desenvolvimento local
scripts/test-*.ts
scripts/test-*.js

# Pacote lock (opcional, dependendo da sua preferência)
package-lock.json
# yarn.lock
pnpm-lock.yaml

/outputs/**/*.svg
/outputs/**/*.json

check_path.py

.npmignore